.my, .myContent{
  width:100%;
  height:100%;
}
.mytop{
  --top-height:30;
  width:100%;
  height:calc(var(--top-height) * 1%);
  /* background-color: aqua; */
  border-bottom:3px solid rgb(0,147,255);
}
.mybottomleft, .mybottomright{
  width:50%;
  height: 70%;
}
.mybottomleft {
  float:left;
  border-right:3px solid rgb(0,147,255);
  /* background-color: skyblue; */
}
.mybottomright {
  float:right;
  /* background-color: red; */
}